body {
  font-family: "Kanit", sans-serif;

  font-size: 1rem;
}
.multiplayer {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.room-list {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.room-list li {
  font-size: 1.5em;

  padding: 5px;

  cursor: pointer;

  transition: all 0.15s ease-out;
}
.room-list li:hover {
  background-color: #ffffff20;
}
.create-room {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.input_mp {
  padding: 10px;
  width: 100%;

  border: 2px solid #dddddd93;
  border-radius: 0.3em;

  font-size: 1em;

  transition: all 0.2s ease-out;
}
.input_mp:focus {
  border: 2px solid #dddddd;
}

.create_btn {
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  text-wrap: nowrap;

  padding: 10px 20px;

  background-color: #4caf50;
  color: #fff;

  border-radius: 0.3em;

  cursor: pointer;
  transition: all 0.15s ease-out;
}

.create_btn:hover {
  background-color: #3e8e41;
}
