body {
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
}
.game_board {
  height: fit-content;
  width: fit-content;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5em;
  width: 5em;
  flex: 0 0;

  background-color: #ffffff13;
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 1.5rem;
  text-align: center;

  transition: all 0.2s ease-out;
  cursor: pointer;
}
.cell p {
  font-size: 3rem;
}

.cell:hover {
  background-color: #dddddd6a;
}

.cell.x {
  background-color: red;
  color: #fff;
}

.cell.o {
  background-color: #33cc33;
  color: #fff;
}
