body {
  font-family: "Kanit", sans-serif;
  overflow-y: scroll;
  height: 100%;
  width: 100%;

  font-size: 1rem;

  padding: 25px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.5em;

  height: 100%;
  width: 97vw;

  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 50px;
}
.game {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  margin-top: 20px;
}

.game_info p {
  margin-bottom: 10px;
}
.reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  padding: 0.3em;

  font-size: 1em;

  border-radius: 0.3em;

  background-color: darkslategray;

  transition: all 0.2s ease-out;
}
.reset-button:hover {
  background-color: darkcyan;
}
.reset-icon {
  height: 100%;
  font-size: 1em;
}
.r-l-row {
  display: flex;
  flex-direction: row;

  gap: 30px;
  padding: 5px;

  cursor: pointer;
}
.leave-btn {
  font-size: 1.5em;
  transition: all 0.2s ease-out;
}
.leave-btn:hover {
  color: red;
}
h2 {
  font-size: 2.5rem;
  text-align: center;
}
.multiplayer {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  gap: 20px;

  width: 50%;
  margin-top: 40px;
}
